<div class="nbresume">
  <div class="nbresume-left">
    <div class="nbresume-link">
      <span><%= link_to "HOME", root_path %></span>
    </div>
    <div class="nbresume-link">
      <span><%= link_to "RESUME", resume_path %></span>
    </div>
  </div>
</div>
