<div class="baocover">
  <div class="baobckgnd">
    <div class="intro-text text-center">
      <p><span class="aocorekw">Development</span> & <span class="aocorekw">Operation</span> (Build & Support) <span class="aocorekw">Services</span> to provide</p>
    </div>
    <div class="intro-values">
      <div class="introbox-white text-center">
        <p>Immutable Deployments  -  Infrastructure As Code  -  Code to Run Services NOT Pets</p>
      </div>
    </div>
  </div>
</div>
