<div class="row">

  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">

    <div class="employment-card">
      <div class="row ecard-header">
          <p>Oct 2006</p>
      </div>
      <div class="ecard-body text-left">
        <p>
          ISEB <br>Foundation in IT Service Management certification
        </p>
      </div>
    </div>

  </div>

  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">

    <div class="employment-card">
      <div class="row ecard-header">
          <p>Sept 2013</p>
      </div>
      <div class="ecard-body text-left">
        <p>
          ORACLE <br>OCA Weblogic Server 11g System Administrator Certification
        </p>
      </div>
    </div>

  </div>

  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">

    <div class="employment-card">
      <div class="row ecard-header">
          <p>Jul 17 - Sep 17</p>
      </div>
      <div class="ecard-body text-left">
        <p>
          LE WAGON <br>Full Stack Developer course
        </p>
      </div>
    </div>

  </div>

</div>
