<h1>Anil Patel <span class="aplocation">London, UK</span></h1>

<div class="oseperator-box">
  <div class="oseperator-left">

  </div>
</div>

<p>
  SC cleared DEVOPS engineer with over 10 years experience in using open source and proprietary products to setup environments.<br></br>A professional with an aptitude and will to self-learn new technologies always applying a positive attitude to work as well as the ability to communicate with all areas of business.
</p>

<div class="row aolinks-box text-center">
  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 aolink-btn">
    <i class="fa fa-github" aria-hidden="true"></i>
    <a href="https://github.com/anilp-ampops">Code</a>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 aolinkseperator">
  </div>
  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 aolink-btn text-center">
    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    <a href="https://www.linkedin.com/in/anil-patel-8a5ba74/">Work</a>
  </div>
</div>
