.aonbcover {
  background-color: #333333;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.aologocover {
  display: flex;
  margin-left: 81px;
  margin-top: -25px;
}

.aologofirst {
  color: #FFFFFF;
  h1 {
    font-family: $aologo-font;
    font-style: bold;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: -11px;
    align: left;
  }
}

.aologosecond {
  color: rgba(255, 255, 255, 0.34);
  h1 {
    font-family: $aologo-font;
    font-style: bold;
    font-size: 48px;
    line-height: 58px;
    align: left;
    margin-left: 2px;
    margin-top: 35px;
  }
}
